-i  https://pypi.douban.com/simple
fastapi
# mysql数据库相关
pymysql
sqlalchemy~=1.3.18
# 登陆安全相关
python-multipart
pyjwt
python-jose
passlib[bcrypt]

tenacity~=6.2.0
mypy

# 测试重试库
pydantic
# 测试库
pytest
pytest-cov